.container {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container > * {
  margin-bottom: 2em;
}

.logo {
  height: max(100px, 8vw);
  width: max(100px, 8vw);
  border-radius: 50%;
  background: hsl(var(--bc1));
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo svg {
  width: 90%;
  height: 90%;
}
