.container {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container > * {
  padding-bottom: 2em;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form > * {
  margin: 0.75em;
}

.form input {
  color: hsl(var(--fc1));
  border: none;
  background-color: hsl(var(--bc1));
  box-shadow: var(--shadow-hover);
  border-radius: 2em;
  padding: 0.5em;
  font-size: max(1rem, 1vw);
}
