.container {
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.item {
  position: relative;
  min-height: 120px;
  width: 100%;
  min-width: 130px;
  padding-top: 12%;
  margin: 0.5em;
  background: hsl(var(--bc1));
  box-shadow: var(--shadow);
  border-radius: 1rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.label {
  color: hsl(var(--fc1), 75%);
  padding-bottom: 0.5em;
}

.info {
  color: hsl(var(--fc2));
  padding-bottom: 0.5em;
}

.containerVehLogo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.vehLogo {
  position: relative;
  width: 60%;
  min-width: 50px;
  padding-top: 60%;
}

.wrapper svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
