header {
  display: flex;
  width: 100%;
  padding: 1em;
}

header > div {
  flex: 1 1;
}

.containerLogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.containerLogo h4 {
  padding: 0 1em;
}

.logo {
  height: max(60px, 4vw);
  width: max(60px, 4vw);
  border-radius: 50%;
  background: hsl(var(--bc1));
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo svg {
  width: 90%;
  height: 90%;
}

.containerInfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.containerInfo span {
  padding: 0 0.5em;
}

.containerSearch input {
  border: 0;
  outline: 0;
  border-radius: 1rem;
  padding: 0.75em;
  background: hsl(var(--bc1));
  box-shadow: var(--shadow);
  color: hsl(var(--fc1));
}

@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
  }

  .containerLogo,
  .containerSearch {
    justify-content: flex-start;
    padding: 0.5em 0;
  }
}
