.container {
  width: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  overflow-x: auto;
}

.container > p {
  padding: 0.5em;
}

.reference {
  display: flex;
  width: auto;
  height: auto;
  padding: 0.1em;
}

.reference li {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25px;
  min-height: 25px;
  margin: 0 0.1em;
  background-color: hsl(var(--bc1));
  box-shadow: var(--shadow);
  border-radius: 0.2em 0.2em 0 0;
  text-transform: uppercase;
}
