.App {
  padding: 1vw;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  background-color: hsl(var(--bc1));
}

.App > * {
  margin-bottom: 1rem;
}

.header {
  font-weight: 500;
  font-size: max(1rem, 1vw);
  color: hsl(var(--fc1));
}

.sub-header {
  font-weight: 700;
  font-size: max(0.6rem, 0.8vw);
  color: hsl(var(--fc1));
}

.paragraph {
  font-weight: 400;
  font-size: max(0.6rem, 0.6vw);
  color: hsl(var(--fc1));
}
