*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

.dark-mode {
  --bc1: 217, 10%, 15%;
  --fc1: 0, 0%, 93%;
  --fc2: 145, 61%, 45%;
  --svg: 216, 18%, 5%;
  --shadow1: 217, 10%, 17%;
  --shadow2: 217, 10%, 10%;
  --shadow: 6px 6px 16px 0 hsl(var(--shadow2)),
    -6px -6px 16px 0 hsl(var(--shadow1));
  --shadow-hover: 6px 6px 16px 0 hsl(var(--shadow1)),
    -6px -6px 16px 0 hsl(var(--shadow2));
}

.light-mode {
  --bc1: 0, 0%, 88%;
  --fc1: 0, 0%, 0%;
  --fc2: 145, 61%, 45%;
  --svg: 216, 7%, 50%;
  --shadow1: 0, 0%, 100%;
  --shadow2: 0, 0%, 75%;
  --shadow: 6px 6px 16px 0 hsl(var(--shadow2)),
    -6px -6px 16px 0 hsl(var(--shadow1));
  --shadow-hover: 6px 6px 16px 0 hsl(var(--shadow1)),
    -6px -6px 16px 0 hsl(var(--shadow2));
}

li,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

svg {
  filter: drop-shadow(5px 5px 4px hsl(var(--svg), 50%));
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
