*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

:root {
  --bc1: 230, 14%, 9%;
  --fc1: 0, 0%, 80%;
  --fc2: 100, 41%, 41%;
  --shadow1: 0, 0%, 0%, 0.5;
  --shadow2: 0, 0%, 100%, 0.025;
  --shadow: 6px 6px 16px 0 hsl(var(--shadow1)),
    -6px -6px 16px 0 hsl(var(--shadow2));
}

li,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(var(--bc1));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(var(--fc2));
  border-radius: 20px;
}
