.container {
  flex: 1 1;
  padding: 1rem;
}

.container > * {
  margin-bottom: 1.5rem;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.searchbox {
  text-transform: uppercase;
  border: none;
  font-size: max(0.6rem, 0.8vw);
  color: hsl(var(--fc2));
  padding: 0.5em 1.5em;
  border-radius: 2em;
  background-color: hsl(var(--bc1));
  box-shadow: var(--shadow-hover);
}
